.image {
  width: 100vw;
  height: 1001px;
  display: inline;
  object-fit: cover;
}
.controlImage {
  height: 999.75px;
  width: 50vw;
}
.dropdown {
  border: 50px;
  font-weight: 600;
  width: 70px;
  height: 20px;
  right: 50%;
  padding-top: 5;
  margin-top: 200%;
  margin-left: 500%;
}
.hoverimage {
  height: 450px;
  width: 100vw;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  margin-bottom: 5%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-size: 140%;
  position: absolute;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  color: white;
}
header h1 {
  font-weight: 600;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.hoverquote {
  margin: auto;
  position: absolute;
  font-size: 50px;
  top: 152%;
  left: 28%;
  color: rgba(255, 255, 255, 0.9);
}
nav a {
  display: inline-block;
  outline: none;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.7;
  padding: 0 0.5em;
  color: #f9f5f5;
  transition: opacity 0.2s ease-in-out;
}
nav a:hover {
  color: #92b19f;
}
.control {
  height: 1000px;
  display: flex;
  align-items: flex-start;
}
.main-heading {
  width: 100%;
  margin: auto;
  position: absolute;
  font-size: 50px;
  top: 400px;
  left: 8%;
  font-size: 80px;
  transition: opacity 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.9);
}
.form {
  margin-left: 60%;
  margin-top: 50%;
  height: 10px;
}
.button {
  margin-left: 60%;
  margin-top: 45%;
}
